<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách khảo sát</title>
    <th:block th:replace="/home/layoutUser::head"></th:block>
</head>
<body>

<th:block th:replace="/home/layoutUser::header"></th:block>


<!-- Page Top section -->
<section class="page-top-section set-bg" data-setbg="/ithost/img/page-top-bg.jpg">
    <div class="container">
        <h2>Danh sách khảo sát</h2>
        <div class="site-breadcrumb">
            <a href="home">Home</a> / <span>Services</span>
        </div>
    </div>
</section>
<!-- Page Top section end -->

<!-- Faq section -->
<section class="faq-section spad">
    <div class="container">
        <div class="section-title">
            <img src="/ithost/img/section-title-icon.png" alt="#">
            <h2>Danh sách khảo sát</h2>
        </div>
        <div id="accordion" class="accordion-area faq-accordion">
            <div class="panel">
                <div class="panel-header" id="headingOne">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                            aria-controls="collapse1">Etiam pretium turpis eget nibh laoreet iaculis. Vivamus auctor mi
                        eget odio feugiat.
                    </button>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h4>Free Support</h4>
                                        <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue
                                            condimentum. Etiam pretium turpis eget nibh laoreet iaculis.Nullam lacinia
                                            ex eleifend orciporttitor, suscip-it interdum augue condimentum. Etiam
                                            pretium turpis eget eleifend orci porttitornibh laoreet iaculis.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="/ithost/img/faq.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-header" id="headingTwo">
                    <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                            aria-controls="collapse2">Vivamus auctor mi eget odio feugiat, quis aliquet velit ornare.
                        Integer egestas sit amet neque sed
                    </button>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h4>Free Support</h4>
                                        <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue
                                            condimentum. Etiam pretium turpis eget nibh laoreet iaculis.Nullam lacinia
                                            ex eleifend orciporttitor, suscip-it interdum augue condimentum. Etiam
                                            pretium turpis eget eleifend orci porttitornibh laoreet iaculis.</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="/ithost/img/faq.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq section end -->


<th:block th:replace="/home/layoutUser::footer"></th:block>


<th:block th:replace="/home/layoutUser::script"></th:block>

</body>
</html>
